<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form method="post" action='/muses/new'>
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Name:</label>
    <input name="muse_name" type="text" /><br>
    Content:
    <input type="text" name="content"><br>
    Create Your Muse:
    <input type="submit" name="submit">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Edit Muses</h1>
      <a href="/login">Log In Here!</a>
  <% end %>