<div>
    <form method="post" action="/posts/new">
        <label for="title">Title:</label><br>
        <input name="title" type="text" /><br>
        <label for="content">Content:</label><br>
        <textarea name="content" rows="4" cols="50">Enter your text here...</textarea><br>
        <input type="submit" value="Submit">
    </form>
</div>