<div class="form">
    <% if Helpers.is_logged_in?(session) %>
    <%= flash[:error] %>
        <form method="post" action="/post/new">
            <label for="muse">Muse:</label><br>
            <input list="muses" name="muse">
            <datalist id="muses">
                <% Helpers.current_user(session).muses.each do |muse| %>
                    <option value="<%= muse.name %>">
                <% end %>
            </datalist><br>
            <label for="title">Title:</label><br>
            <input name="title" type="text" /><br>
            <label for="content">Content:</label><br>
            <textarea name="content" rows="4" cols="50">Enter your text here...</textarea><br>
            <input type="submit" value="Submit">
        </form>
    <% else %>
        <h1> You Must Be Logged in to Create Muses</h1>
        <a href="/login">Log In Here!</a>
    <% end %>
</div>

