<div>
    <h3><%= @post.title %></h3>
    <p><%= @post.content %></p>
    <% if Helpers.is_logged_in?(session) && (Helpers.current_user(session).id == @post.user_id) %>
        <a href="/posts/edit/<%= @post.id %>">Edit</a>
        <form method="post" action="/posts/<%= @post.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" />
        </form>
    <% end %>
</div>