<div class="">
    <a href="/posts/new">Create a New Post</a>
</div>
<div class="posts">
    <!-- This will show all posts made by the users and any posts of other users that they follow -->
    
    <% if !(@posts.empty?) %>
    <% @posts.each do |post| %>
        <div class="post">
            <h3><%= post.title %></h3>
            <p><%= post.content %></p>
            <% if Helpers.is_logged_in?(session) && (Helpers.current_user(session).id.equal?(post.user_id)) %>
                <a href="/posts/edit/<%= post.id %>">Edit</a>
            <% end %>
        </div>
    <% end %>
    <% end %>
</div>